<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY_FOR_OPENWEATHERMAP</key>
	<string>$(API_KEY_FOR_OPENWEATHERMAP)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Open Sans Semibold.ttf</string>
		<string>Open Sans Light.ttf</string>
		<string>Open Sans Bold.ttf</string>
		<string>Circular.ttf</string>
		<string>Open Sans Extrabold.ttf</string>
		<string>Open Sans Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Used to locate your location and to present weather for you</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Used to locate your location and to present weather for you</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Used to locate your location and to present weather for you</string>
</dict>
</plist>
